header {
    background-color: #FFFFFF;
}

footer {
    background-color: #2E2F42;
}

.first-section {
    background-color: #2E2F42;
}

.second-section {
    background-color: #FFFFFF;
}

.third-section 

.fourth-section {
    background-color: #FFFFFF;
}

h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
}

body {
   font-family: "Roboto", "Raleway", sans-serif;
   color: #2E2F42;
   background-color: #F4F4FD;
}

.logo-header {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.accent-logo {
    color: #4D5AE5;
}

.navigation-header {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.contacts-header {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.navigation-header:hover, .contacts-header:hover, .navigation-header:focus, .contacts-header:focus {
    color: #404BBF;
}

.button-main {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
}

.titles-second-section {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.text-second-section {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-third-section, .header-fourth-section {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
}

.third-section .headers {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.third-section .texts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.fourth-section .headers {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.fourth-section .texts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.logo-footer {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

.text-footer {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}